<div class='row'>
	<div id='trendVideo'>
		<div class='video col-lg-6'>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @vid %>" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class='info col-lg-6'>
			<h4><%= @info['title'].truncate(50, omission: '...' ) %></h4>
			<div class='view-cnt'>視聴回数: <%= number_with_delimiter(@info['view_cnt']) %> 回</div>
			<div class='eval'>高く評価: <%= number_with_delimiter(@info['like_cnt']) %><br />低く評価: <%= number_with_delimiter(@info['dislike_cnt']) %></div>
			<div class='clearfix'></div>
		</div>
	</div>
</div>
