<!DOCTYPE html>
<html lang='ja'>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <title>話題の動画ランキング</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '/js/bootstrap.min' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='wrapper'>
		<div id='header' class='container-fluid'>
		</div>

		<hr />

		<div id='contents' class='container-fluid'>
			<%= yield %>
		</div>

		<div id='footer' class='container-fluid'></div>
	</div>
</body>
</html>
