<!DOCTYPE html>
<html lang='ja'>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <title>YouTube トレンド動画</title>
  <meta name='description' content='YouTubeで話題の動画を検索・視聴することが可能です。アニメ、ドラマ、バラエティなどさまざまなジャンルの動画をまとめて楽しむことができます。' />
  <meta name="viewport" content="width=device-width">

  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.url %>" />
  <!--<meta property="og:image" content="" />-->
  <meta property="og:title" content="YouTube トレンド動画" />
  <meta property="og:description" content="YouTubeで話題の動画を検索・視聴することが可能です。アニメ、ドラマ、バラエティなどさまざまなジャンルの動画をまとめて楽しむことができます。" />
  <meta property="og:site_name" content="YouTube トレンド動画" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '/js/bootstrap.min' %>
  <%= javascript_include_tag '/js/bootstrap-datepicker' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/gtm' %>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=1392350467743150";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div id='wrapper'>
		<div id='header' class='container-fluid'>
			<%= link_to image_tag('logo.png'), root_path %>
			<div id='shareButtons'>
				<ul>
					<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://xtrend.tokyo/" data-text="YouTube トレンド動画" data-hashtags="YouTubeトレンド">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
					<li><div class="fb-like" data-href="http://xtrend.tokyo/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
					<li><a href="http://b.hatena.ne.jp/entry/http://xtrend.tokyo/" class="hatena-bookmark-button" data-hatena-bookmark-title="YouTube トレンド動画" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
					<div class='clearfix'></div>
				</ul>
			</div>
		</div>

		<div id='menu'>
			<div class='container-fluid'>
				<div class='row'>
					<ul class='menu-list'>
						<% if controller.action_name == 'index' || controller.action_name == 'video' %>
						<li class='current'>
						<% else %>
						<li>
						<% end %>
						<%= link_to 'HOME', root_path %></li>

						<% if controller.action_name == 'ranking' %>
						<li class='current'>
						<% else %>
						<li>
						<% end %>
						<%= link_to '話題のチャンネルランキング', ranking_home_index_path %></li>
					</ul>
				</div>
			</div>
		</div>

		<div id='contentsWrapper'>
			<div id='contents' class='container-fluid'>
				<%= yield %>
			</div>
		</div>

		<div id='footer'>
			<div class="container">
				<div>
					<ul class='list-inline'>
						<li><%= link_to 'このサイトについて', action: 'about' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
